---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Noviembre 2024 - Actualmente",
    title: "Especialista Ingeniería de Software",
    company: "Banco Ficohsa",
    description: "Aplicación de políticas de crédito sobre el motor de desición para el área de riesgo consumo. Análisis y transformación de datos para la toma desición.",
    jobType: 'FT'
   
  },
  {
    date: "Octubre 2021 - Noviembre 2024",
    title: "Frontend Developer Lead",
    company: "World Vision Honduras",
    description:
      "Diseño y desarrollo de arquitectura microfrontends para el Sistema de Gestión de Casos Laborales, de la Secretaría de Trabajo de Honduras, financiado por la Secretaría de Trabajo de los Estados Unidos USDOL. Implementación de test unitarios. Procesar code reviews de las features desarrolladas.Diseño UX/UI para el módulo de cálculo de prestaciones del ECMS. Brindar mejoras de accesibilidad y usabilidad al proceso de diseño de interfaces. Definir la arquitectura de información del sistema. Implementar metodologías de diseño de productos digitales. Coordinar el equipo de desarrolladores frontends.",
    jobType: 'FT'
   
  },
  {
    date: "Enero 2020 - Octubre 2021 ",
    title: "Desarrollador Web",
    company: "SENACIT",
    description:
      "Responsable de la plataforma, componentes y utilidades para la creación y desarrollo de aplicaciones web. Mejora de un 30% en la entrega de software. Implantación de medidas de integración continua y despliegue con A/B testing en más de 15 equipos.",
    jobType: 'F'
  },
  {
    date: "Enero 2020 - Octubre 2021 ",
    title: "Desarrollador Web",
    company: "Vendu",
    description:
      "Responsable de la plataforma, componentes y utilidades para la creación y desarrollo de aplicaciones web. Mejora de un 30% en la entrega de software. Implantación de medidas de integración continua y despliegue con A/B testing en más de 15 equipos.",
    jobType: 'FT'
  },
  {
    date: "Enero 2020 - Octubre 2021 ",
    title: "Desarrollador Web",
    company: "Ryte HN",
    description:
      "Responsable de la plataforma, componentes y utilidades para la creación y desarrollo de aplicaciones web. Mejora de un 30% en la entrega de software. Implantación de medidas de integración continua y despliegue con A/B testing en más de 15 equipos.",
    jobType: 'FT'
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
