---
const personalImageAlt = "Miguel 츼ngel"
import Badge from "@/components/Badge.astro"
import LinkedInIcon from "@/components/icons/LinkedIn.astro"
import MailIcon from "@/components/icons/Mail.astro"
import SocialPill from "@/components/SocialPill.astro"
---

<div class="max-w-xl">
  <div class="flex gap-4 mb-4">
    <img
      class="rounded-full shadow-lg size-16"
      src="https://avatars.githubusercontent.com/u/101820589?v=4"
      alt={personalImageAlt}
    />
    <a
      href="https://linkedin.com/in/mizradev"
      target="_blank"
      rel="noopener"
      class="flex items-center transition md:justify-center md:hover:scale-105"
    >
      <Badge>Disponible para trabajar</Badge>
    </a>
  </div>
  <h1
    class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
  >
    Hola, soy Mizradev
  </h1>
  <span class=" font-semibold inline-flex animate-background-shine bg-[linear-gradient(110deg,#64748b,45%,#0f172a,55%,#64748b)] dark:bg-[linear-gradient(110deg,#b6eaff,45%,#065074,55%,#b6eaff)] bg-[length:250%_100%] bg-clip-text text-xl text-transparent mt-3">
    Desarrollador Full Stack
    </span>
  <p
    class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-emerald-200 [&>strong]:text-emerald-500 [&>strong]:font-semibold dark:text-gray-300"
  >
    +9 a침os de experiencia. <strong
      >Desarrollador de Software y Consultor de sistemas Web y aplicaciones m칩viles</strong
    > de Tegucigalpa, Honduras 游쇓릖. Especializado en el dise침o y desarrollo de productos digitales 칰nicos.
  </p>
  <nav class="flex flex-wrap gap-4 mt-8">
    <SocialPill href="mailto:jorgemizrain@gmail.com">
      <MailIcon class="size-4" />
      Cont치ctame
    </SocialPill>
    <SocialPill href="https://linkedin.com/in/mizradev">
      <LinkedInIcon class="size-4" />
      LinkedIn
    </SocialPill>
    <SocialPill href="mailto:jorgemizrain@gmail.com">
      <MailIcon class="size-4" />
      AGENDAR REUNI칍N
    </SocialPill>
  </nav>
</div>
